.app-wrapper {
    position: relative;
    display: grid;
    grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar footer";
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: auto 1fr;
    grid-gap: 0;
    align-content: stretch;
    align-items: stretch;
    max-width: 100vw;
    min-height: 100vh;
}

.app-wrapper > * {
    min-width: 0;
}
