.tag-page-text-container {
    text-align: center;
}

.tag-page-title {
    font-size: 60px;
    font-weight: 700;
    line-height: 0.98;
    color: #000000;
    margin-top: 90px;
    margin-bottom: 90px;
}

.tag-page-subtitle {
    font-size: 20px;
    color: #6c757d;
    margin-bottom: 90px;
}
