@font-face {
    font-family: "Roboto";
    src: url("/resources/web/fonts/roboto/Roboto-VariableFont_wdth,wght.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/resources/web/fonts/inter/Inter-VariableFont_opsz,wght.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
